@import '../../styles/functions';
@import './fonts';
@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/query';
@import '../../styles/animations';
@import '../../styles/utility/index';
@import '../../styles/base';

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

@import '../../styles/components/Button';
@import '../../styles/components/Input';

@import './StoryClasses';
