.button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}

.button__primary {
  background: $fk-color-linkyBlue;
  color: $fk-color-white;
}

.button__secondary {
  background: $fk-color-strokeGrey;
  color: $fk-color-subheaderBlack;
}
