.button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}

.button__primary {
  background: get($fk-btn-primarySolid, 'background');
  color: get($fk-btn-primarySolid, 'color');
}

.button__secondary {
  background: get($fk-btn-secondary, 'background');
  color: get($fk-btn-secondary, 'color');
}
