// elements
html {
  font-size: 100%;
}

body {
  font-size: $fk-font-size-regular;
  font-family: $fk-font-regular;
  font-weight: normal;
  line-height: 1.5;
}

// headings
h1 {
  @include h1;
  font-weight: normal;
}

h2 {
  @include h2;
  font-weight: normal;
}

h3 {
  @include h3;
  font-weight: normal;
}

h4,
h5,
h6 {
  @include h4;
  font-weight: normal;
}

// inline elements
strong,
b {
  font-family: $fk-font-semiBold;
  font-weight: normal;
}
