@font-face {
  font-family: 'burbank';
  src: url('~@flipgrid/flipkit/fonts/burbank-condensed-bold.woff2') format('woff2'),
    url('~@flipgrid/flipkit/fonts/burbank-condensed-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('~@flipgrid/flipkit/fonts/proxima-nova.woff2') format('woff2'),
    url('~@flipgrid/flipkit/fonts/proxima-nova.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Black';
  src: url('~@flipgrid/flipkit/fonts/proxima-nova-black.woff2') format('woff2'),
    url('~@flipgrid/flipkit/fonts/proxima-nova-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('~@flipgrid/flipkit/fonts/proxima-nova-bold.woff2') format('woff2'),
    url('~@flipgrid/flipkit/fonts/proxima-nova-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('~@flipgrid/flipkit/fonts/proxima-nova-semibold.woff2') format('woff2'),
    url('~@flipgrid/flipkit/fonts/proxima-nova-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
