@mixin rowMachine($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  float: left;
  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-bottom: 0;
    margin-right: 0;
  }
}
// Mixin is used for double line dotdotdot.
@mixin multiLineEllipsis($lineHeight: 1.3em, $lineCount: 1, $bgColor: white) {
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

// Alternative focus style
@mixin focusStyle() {
  outline: none;
  box-shadow: $fk-btn-focus-shadow;
}

// Input/Textarea focus style
@mixin fieldFocusStyle() {
  border-color: $fk-focus-blue2;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px $fk-focus-shadow2;
}

// Field error styles
@mixin fieldError() {
  display: block;
  margin-top: 2px;
  font-family: $fk-font-book;
  color: $fk-error-red;
}

// defines gradient text background & fallbacks
@mixin gradientText($gradient, $fallbackColor: $fk-black) {
  color: $fallbackColor;
  @supports (-webkit-text-fill-color: transparent) {
    background: $gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// sets gradient border around element using :before pseudo
@mixin gradientBorder($gradient, $initial: $fk-border-grey, $borderWidth: 2px) {
  position: relative;
  background: $fk-white;
  background-clip: padding-box;
  border: solid $borderWidth transparent;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$borderWidth;
    border-radius: inherit;
    background: $initial;
  }

  &.-active:before,
  &:hover:before {
    background: $gradient;
  }
}

@mixin clearButtonUA {
  padding: 0;
  border: none;
  background: none;
}

// shorthand for applying styles to both of the parent's pseudo elements
@mixin before-and-after() {
  &:before {
    @content;
  }
  &:after {
    @content;
  }
}

@mixin gridPalsPopoverLink {
  position: relative;
  background: $fk-white;
  background-clip: padding-box;
  border-radius: 6px;
  display: inline-block;
  font-weight: bold;
  color: black;
  font-size: $fk-font-size-extraSmall;
  font-family: $fk-font-bold;
  padding: 2px 15px 2px 15px;
  margin: 7px 45px 7px 45px;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.35) !important;
  }

  svg {
    position: absolute;
    right: -12px;
    background-color: $fk-white;
    top: -8px;
    padding: 2px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
  }

  &:after {
    position: absolute;
    top: -2.5px;
    bottom: -2.5px;
    left: -2.5px;
    right: -2.5px;
    background: -webkit-gradient(linear, left bottom, left top, from(hotpink), color-stop(red), to(orange));
    background: -webkit-linear-gradient(bottom, hotpink, red, orange);
    background: -o-linear-gradient(bottom, hotpink, red, orange);
    background: linear-gradient(to top, hotpink, red, orange);
    content: '';
    z-index: -1;
    border-radius: 8px;
  }
}

// helpers to style around FFs
@mixin whenFlag($flag, $selector: '') {
  body.flag-#{$flag} #{$selector} {
    @content;
  }
}

@mixin noFlag($flag, $selector: '') {
  body:not(.flag-#{$flag}) #{$selector} {
    @content;
  }
}

// IE specific query
// -ms-high-contrast is microsoft IE specific property, by querying for
// both values of the property, we get a defacto IE 10/11 query
@mixin IEOnly {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

@mixin FormControl {
  // 8.1 refactor - this should eventually live in the inputs file,
  // but it needs to be included earlier in index
  // 9.6 UPDATE - consider this deprecated - copied out what we need to _input.scss
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
  margin-bottom: 0.75rem;
  background-color: $fk-white;
  border: solid $fk-outline-grey thin;
  height: rem(51);
  font-size: $fk-font-size-medium;
  width: 100%;
  color: $fk-black;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  &::placeholder {
    font-family: $fk-font-regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    color: #b7b7b7;
  }

  &:focus {
    @include fieldFocusStyle;
  }

  &:-moz-ui-invalid,
  &:-moz-ui-invalid:-moz-focusring {
    // removes red outline around FF required inputs
    box-shadow: none;
  }

  &.-hasError {
    border: solid $fk-darkRed thin;
  }

  &.disabled-subjects {
    background-color: #f2f2f2;
    opacity: 0.5;
  }

  &[readonly],
  &:disabled,
  .disabled {
    background-color: #f2f2f2;
  }

  &.no-readonly[readonly] {
    background-color: $fk-white;
    pointer-events: none;
  }
}

@mixin visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  max-width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@mixin fontSmoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin card {
  border-radius: 8px;
  border: 2px solid $fk-border-grey;
  box-shadow: 0px 2px 0px transparentize($fk-trueBlack, 0.95);
  background: $fk-white;
}

@mixin helpText {
  font-size: $fk-font-size-regular;
  color: $fk-color-secondaryGrey;
}

// heading style groups
@mixin h1 {
  font-family: $fk-font-bold;
  font-size: $fk-font-size-h1;
  line-height: $fk-font-lineHeight-h1;
}

@mixin h2 {
  font-family: $fk-font-bold;
  font-size: $fk-font-size-h2;
  line-height: $fk-font-lineHeight-h2;
}

@mixin h3 {
  font-family: $fk-font-bold;
  font-size: $fk-font-size-h3;
  line-height: $fk-font-lineHeight-h3;
}

@mixin h4 {
  font-family: $fk-font-bold;
  font-size: $fk-font-size-h4;
  line-height: $fk-font-lineHeight-h4;
}
